<!DOCTYPE html>
<html>
    <head>
        <title>registration form</title>
    </head>
        <!-- <style>
            body{
                background-color: aquamarine;
            }
            div.siyo{
                position: relative;
                left: 550px;
            }
        </style> -->
        <body>
            <!-- <h1 style="text-align: center;">Student Registration Form</h1> -->
            <div class="siyo">
            <h2 >Fill in this form to register</h2>
            <form style="margin-top: 2%;",action = "http://127.0.0.1:5000/abou", method ="POST">
                <label  for="fname">First name:</label>
                <input placeholder="Enter first name"  type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label>
                <input placeholder="Enter last name"  style="margin-top: 2%;" type="text" id="lname" name="lname"><br>
                <label style="margin-top: 10%;" for="email">E-mail:</label>
                <input placeholder="Enter email" style="margin-top: 2%;"type="email" id="email" name="email" ><br>
                <!-- <label style="margin-top: 10%;" for="dd">date of birth:</label>
                <input style="margin-top: 2%;" type="date" id="dd" name="dd" ><br>
                <label style="margin-top: 10%;" for="username">set username:</label>
                <input placeholder="Enter username" style="margin-top: 2%;"type="username" id="username" name="username"><br>
                <label style="margin-top: 10%;" for="pwd">set password:</label>
                <input placeholder="Enter password" style="margin-top: 2%;"type="password" id="password" name="password"><br>
                <p>Gender:</p>
                <input type="radio" id="male" name="fav_language" value="male">
                <label for="male">male</label><br>
                <input type="radio" id="female" name="fav_language" value="female">
                <label for="female">female</label><br>
                <input type="radio" id="others" name="fav_language" value="others">
                <label for="others">others</label><br><br>
                <label style="font-weight: bold;" for="browser">Course :</label>
                    <input placeholder="Course"  list="browsers" name="browser" id="browser">
                    <datalist id="browsers">
                        <option value="phy">
                        <option value="che">
                        <option value="bio">
                        <option value="maths">
                        <option value="eng">
                      </datalist> -->
        
                    <input type="submit" value="Register">
            </form>
        </div>
        </body>
    
</html>